.container {
  height: 100vh;
  box-sizing: border-box;
  padding-bottom: calc(4rem + constant(safe-area-inset-bottom));
  padding-bottom: calc(4rem + env(safe-area-inset-bottom));

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .avatar {
    display: block;
    margin: 0 auto;

    $wh: 6rem;
    width: $wh;
    height: $wh;
    border-radius: $wh/4;
    margin-top: $wh;

    border: 1px solid var(--border-primary);
  }

  .avatar-choose {
    color: var(--btn-primary-color);
    background-color: var(--btn-primary-background-color);
    border: 1px solid var(--btn-primary-border-color);
    border-radius: 8px;
  }

  .avatar-choose-hover {
    background-color: var(--btn-primary-background-color-hover);
  }

  .qrcode {
    width: 50vw;
    height: 50vw;
    border-radius: 2rem;
    border: 6px solid var(--border-primary);
  }
}
